body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerButton {
  /*background-color: #1D285388;*/
  background-color: #00000000;
  -webkit-transition: background-color 200ms; /* For Safari 3.1 to 6.0 */
  transition: background-color 200ms;
}

.headerButton:hover {
  background-color: #ffffff16;
}

.animatedComponent {
  -webkit-transition: background-color 500ms; /* For Safari 3.1 to 6.0 */
  transition: background-color 500ms;
}

.panelTransparent {
  background-image: linear-gradient(to top, #00143C, #1e2242, #1d1d3160, #19182240, #13131300);
}

.skillColorExcellent {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skillColorGood {
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skillColorMedium {
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skillColorBad {
  background: #e73827;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f85032, #e73827);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f85032, #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.buttonColorGradient {
  background: #FF7F50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF7F50, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF7F50, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
