body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerButton {
  /*background-color: #1D285388;*/
  background-color: #00000040;
  -webkit-transition: background-color 200ms; /* For Safari 3.1 to 6.0 */
  transition: background-color 200ms;
}

.headerButton:hover {
  background-color: #ffffff16;
}

.animatedComponent {
  -webkit-transition: background-color 500ms; /* For Safari 3.1 to 6.0 */
  transition: background-color 500ms;
}

.panelTransparent {
  background-image: linear-gradient(to top, #00143C, #1e2242, #1d1d3160, #19182240, #13131300);
}
